{
  "presets": ["@babel/typescript", ["@babel/env", { "targets": { "node": "8" } }]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": { "@": "./src" }
      }
    ]
  ],
  "sourceMaps": true,
  "ignore": ["**/*.test.js", "**/*.spec.js", "**/*.test.ts", "**/*.spec.ts"],
  "comments": false
}
