.serverless/
.vscode/
dist/
docs/
node_modules/

.codeclimate.yml
.editorconfig
.env
.gitignore
.prettierrc
.travis.yml
.keyfile.json
LICENSE
private.pem
public.pem
README.md
serverless.yml
travis-secret.tar
travis-secret.tar.enc
yarn-error.log
